@import "../../app.module.css";

.movieCard {
  width: 320px;
  color: var(--light);
  cursor: pointer;
}

.movieCard_imageWrapper {
  width: 320px;
  height: 480px;
  background-color: #424242;
}

.movieCard_image {
  width: 320px;
  height: 480px;
}

.movieCard_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.movieCard_year {
  width: 80px;
  border: 1px solid var(--primary);
  border-radius: 5px;
  padding: 5px 20px;
}

.movieCard_name {
  width: 180px;
  font-size: 20px;
}
