.modal_inputLabel_wrapper {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.modal_inputsWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modalInputs_label {
  margin: 0;
  color: #f65261;
  font-size: 16px;
}

.modal_textInput {
  height: 40px;
  padding-left: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: #323232;
  color: white;
  font-size: 18px;
}

.modal_textarea {
  height: 150px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: #323232;
  color: white;
  font-size: 18px;
}
