.movieSettingButton {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  margin: 5px 0 0 270px;
  padding: 10px;
  border: none;
  border-radius: 50px;
  background-color: #232323;
  cursor: pointer;
}
