.modal_closeButton {
  padding: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.modal_resetButton {
  width: 150px;
  height: 50px;
  margin: 5px;
  border: 1px solid #f65261;
  border-radius: 5px;
  background-color: #232323;
  color: #f65261;
  font-size: 20px;
}

.modal_resetButton:hover {
  background-color: #343333;
}

.modal_resetButton:active {
  background-color: #424242;
}

.modal_submitButton {
  width: 150px;
  height: 50px;
  margin: 5px;
  border: 1px solid #f65261;
  border-radius: 5px;
  background-color: #f65261;
  color: white;
  font-size: 20px;
}

.modal_submitButton:hover {
  background-color: #dc4b58;
}

.modal_submitButton:active {
  background-color: #b63f49;
}
