.movieDetails {
  padding: 0 60px 20px 60px;
}

.movieDetailsLogoMagnifierButtonWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.magnifierButton {
  border: none;
  background: transparent;
  cursor: pointer;
}
