.modalInputLabel_wrapper {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.modalBody_inputLabel {
  margin: 0;
  color: #f65261;
  font-size: 16px;
}

.modalBody_largeInput {
  width: 500px;
  height: 40px;
  padding-left: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: #323232;
  color: white;
  font-size: 18px;
}

.modalBody_smallInput {
  width: 300px;
  height: 40px;
  padding-left: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: #323232;
  color: white;
  font-size: 18px;
}

.modalBody_textarea {
  height: 150px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: #323232;
  color: white;
  font-size: 18px;
}
