@import "../../../app.module.css";

.genreWrapper {
  display: flex;
  flex-wrap: nowrap;
}

.genreButton {
  height: 50px;
  padding: 0 15px;
  border: none;
  border-bottom: 2px solid var(--primary);
  background-color: transparent;
  color: var(--light);
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
}
