@import "../../../app.module.css";

.movieCard {
  display: flex;
  flex-basis: 33%;
  justify-content: center;
  color: var(--light);
}

.movieCard:hover .movieCard_settings {
  visibility: visible;
}

.movie_info {
  cursor: pointer;
}

.movieCard_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.movieCard_year {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  border: 1px solid var(--primary);
  border-radius: 5px;
  padding: 5px;
}

.movieCard_name {
  width: 180px;
  font-size: 18px;
}

.movieCard_genres {
  display: flex;
}

.movieCard_genre {
  margin-right: 5px;
}

.movieCard_settings {
  visibility: hidden;
}
