.inputs_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input_wrapper {
  display: flex;
  flex-direction: column;
  margin: 10px 10px 0 10px;
}

.label {
  margin: 0;
  color: var(--danger);
  font-size: 16px;
}

.error {
  height: 20px;
  margin: 5px 0 0 0;
  color: var(--danger);
  font-size: 16px;
}

.modal_footer {
  display: flex;
  justify-content: end;
}
