@import "../app.module.css";

.modal_wrapper {
  position: fixed;
  z-index: 3;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 900px;
  height: 600px;
  margin: auto;
  padding: 20px;
  background-color: var(--dark);
}

.modal_opacity {
  position: fixed;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--primary);
  opacity: 0.5;
}

.delete_modal {
  position: fixed;
  z-index: 3;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 400px;
  height: 200px;
  margin: auto;
  padding: 20px;
  background-color: var(--dark);
}

.modal_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal_title {
  margin: 0;
  color: var(--light);
  font-size: 32px;
  letter-spacing: 4px;
}

.modal_text {
  margin: 0;
  color: var(--light);
  font-size: 20px;
}

.modal_footer {
  display: flex;
  justify-content: end;
  margin-top: 30px;
}
