@import "../app.module.css";

.modal_wrapper {
  position: fixed;
  z-index: 3;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 900px;
  height: 620px;
  margin: auto;
  padding: 20px;
  background-color: var(--dark);
}

.modal_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal_title {
  margin: 0 0 0 15px;
  color: var(--light);
  font-size: 32px;
  letter-spacing: 4px;
}

.modal_footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
