.header {
  background-image: url("../../assets/images/headerBackgroundImage.jpg");
  background-size: cover;
  padding: 0 40px 200px 40px;
}

.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
