.movie_cards__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
  padding: 0 60px;
}

.movie_settings__dots_button {
  position: absolute;
  margin: 10px 0 0 270px;
  padding: 8px;
  border: none;
  border-radius: 50px;
  background-color: #2a202d;
  cursor: pointer;
}

.movie_settings__edit_delete {
}
