@import "../../app.module.css";

.pagination_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}

.page {
  margin: 0 50px;
  color: var(--danger);
  font-size: 25px;
}
